 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>关于我</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>能熟练使用html+css+js完成前端页面布局以及交互实现，还原视觉稿，实现各浏览器兼容。利用gulp配合相关插件完成前端自动化，使用git和svn来进行版本控制，有多人协同开发经验。熟悉jquery、bootstrap，目前正在学习mvvm框架 vue.js，以及预处理器sass。现积极参与实践阿里手淘前端团队分享的移动端flexible解决方案，高效快捷地开发移动端页面。</p>
                </div>
                <div class="col-lg-4">
                    <p>热爱互联网热爱前端，性格开朗易沟通。充分利用空闲时间拓展知识，在遇到困难时，会借助知乎、segmentfault、google、stackflow等平台搜寻答案。了解PHP + mysql，曾用wordpress、ecshop、discuz、dedecms等php整站程序搭建过小网站。希望能来到一个不拘一格、开明开放的团队，大家一起把玩技术、分享技术，为公司的项目添砖加瓦。</p>
                </div><!-- 
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>